/resourcepacks/
/coremods/
/data/
/modernfix/
/local/
/logs/
/saves/
/schematics/
/screenshots/
/server-resource-packs/
/shaderpacks/
/texturepacks/
/xaero/
/crash-reports/
/mods/.connector/
/mods/*.jar

/*.*

config/fabric/indigo-renderer.properties
config/xaerominimap_entities.json
