/.idea/
/flame/
instance.cfg
mmc-pack.json

/minecraft/resourcepacks/
/minecraft/modernfix/
/minecraft/local/
/minecraft/logs/
/minecraft/saves/
/minecraft/schematics/
/minecraft/screenshots/
/minecraft/server-resource-packs/
/minecraft/shaderpacks/
/minecraft/texturepacks/
/minecraft/xaero/
/minecraft/mods/.connector/
/minecraft/mods/*.jar

/minecraft/*.*
